<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div id="fileUpload">
             <form action = "/path" method = "post" enctype="multipart/form-data">
                    <input class="button" type="file" name="file" />
                    <input type="submit" value="Upload">
             </form>
        </div>
        {% if paths_files %}
        <div class="two-divs-container">
            <div id="leftColumn">
                <img src="{{ paths_files[0] }}" alt="Map Paths" id="mapPaths", width="100%", height="100%">
            </div>
            <div id="rightColumn">
                <div class="buttons">
                    <button class="button" id="backButton">Back</button>
                    <button class="button" id="nextButton">Next</button>
                </div>
            </div>
        </div>
        </div>
        {% endif %}
    </div>

<script>
    var pathItemsString = "{{ paths_files }}";
    var pathItemsStringSplitted = pathItemsString.split(",");
    for (let i = 0; i < pathItemsStringSplitted.length; i++) {
        pathItemsStringSplitted[i] = pathItemsStringSplitted[i].substring(6);
        pathItemsStringSplitted[i] = pathItemsStringSplitted[i].slice(0, -5);
    }
    pathItemsStringSplitted[pathItemsStringSplitted.length - 1] = pathItemsStringSplitted[pathItemsStringSplitted.length - 1].slice(0, -1);
    var pathItems = pathItemsStringSplitted;
    var currentIndex = 0;

    function updateImage() {
        var imagePath = pathItems[currentIndex];
        console.log(imagePath)
        document.getElementById('mapPaths').src = imagePath;
    }

    function goNext() {
        if (currentIndex < pathItems.length - 1) {
            currentIndex++;
            updateImage();
        }
    }

    function goBack() {
        if (currentIndex > 0) {
            currentIndex--;
            updateImage();
        }
    }

    // Dodaj obsługę zdarzeń do przycisków
    document.getElementById('nextButton').addEventListener('click', goNext);
    document.getElementById('backButton').addEventListener('click', goBack);
</script>

</body>
</html>
